<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465994117155-qi0tpb3fruui7ft360db6pv2qk9piml4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465994117155-qi0tpb3fruui7ft360db6pv2qk9piml4</string>
	<key>API_KEY</key>
	<string>AIzaSyDloxBJ7LWjqJ8JRyl-nftC6yI5Hsr5pcA</string>
	<key>GCM_SENDER_ID</key>
	<string>465994117155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamo.mobilereport</string>
	<key>PROJECT_ID</key>
	<string>mobilereport-63375</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilereport-63375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465994117155:ios:08a8de5423e07b91</string>
	<key>DATABASE_URL</key>
	<string>https://mobilereport-63375.firebaseio.com</string>
</dict>
</plist>